.header {
  z-index: 7;
  width: 100%;
  color: var(--white);
  mix-blend-mode: difference;
  transition: filter 0.3s ease;
}

.header__line {
  width: 100%;
  height: 2.4rem;
  background: var(--black);

  &__black {
    background: var(--white);
  }
}

.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  z-index: 99999;
}

.header__logo {
  font-family: var(--font-montserrat);
  font-size: rem(24px);
  line-height: 1.1em;
}

.main__nav_list {
  display: flex;
  column-gap: rem(32px);
}

.main__nav_item {
  a {
    font-size: rem(20px);
  }
}

.hover_un:before {
  pointer-events: none;
  content: '';
  transform-origin: 100%;
  -o-transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
  background-color: currentColor;
  width: 100%;
  height: 1px;
  transition: transform 0.6s cubic-bezier(0.66, 0, 0.15, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

.hover_un:hover:before {
  transform-origin: 0;
  transform: scaleX(1);
}

.header__icons {
  display: flex;
  column-gap: rem(20px);
}

.header__icons_item {
  width: rem(24px);
  height: rem(24px);
  position: relative;
}

.cart_total {
  line-height: rem(12px);
  font-weight: 700;
  color: var(--black);
  background: var(--white);
  border-radius: rem(60px);
  font-size: rem(12px);
  display: inline-block;
  padding: rem(3px) rem(6px);
  position: absolute;
  left: rem(12px);
  top: rem(-5px);
  right: inherit;
  height: auto;
}
