.slider {
  width: 100%;
  height: rem(700px);
  padding-left: var(--x-gap) !important;
  padding-right: var(--x-gap) !important;

  &__item {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .slider_image {
      width: 100%;
      margin-bottom: rem(20px);
      height: 70%;
      background-color: var(--neutral-50);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: height 0.3s ease-in-out;
    }

    .slider_content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon_wrapper {
        width: rem(24px);
        height: rem(24px);
      }
    }
  }
}

.drone_title {
  font-size: rem(40px);
  letter-spacing: -0.05em;
  line-height: 1.2;
}

.drone_description {
  font-size: rem(24px);
  letter-spacing: -0.05em;
  line-height: 1.2;
}

.active_slide {
  .slider_image {
    height: 100%;
  }
}