.preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--black);
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_percent {
    letter-spacing: rem(-1px);
    display: block;
    overflow: hidden;
    margin-bottom: rem(24px);

    span {
      text-align: center;
      font-size: rem(44px);
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 1.2;
      display: block;
    }
  }

  &_progress {
    &_wrapper {
      position: fixed;
      opacity: 1;
      z-index: 1001;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 2.4rem;
      background: transparent;
    }

    &_inner {
      --progress-width: 1%;
      background-color: #fff;
      height: 100%;
      width: var(--progress-width);
    }
  }
}

.isHide {
  visibility: hidden;
  pointer-events: none;
  z-index: -9999;
}
