.preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--neutral-950);
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;

  &_percent {
    letter-spacing: rem(-1px);
    display: block;
    overflow: hidden;
    margin-bottom: rem(24px);

    span {
      text-align: center;
      font-size: rem(28px);
      display: block;
    }
  }

  &_progress {
    &_wrapper {
      position: fixed;
      opacity: 1;
      z-index: 11;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: rem(24px);
      background: rgba(255, 255, 255, 0.1);
    }

    &_inner {
      --po: 0;
      background-color: var(--neutral-50);
      height: 100%;
      width: 100%;
      transform-origin: left;
      transform: scaleX(var(--po));
    }
  }
}

.isHide {
  visibility: hidden;
  pointer-events: none;
  z-index: -9999;
}
