.testimonials {
  height: 400vh;
  position: relative;
  
  .testimonials_wrap {
    padding: rem(40px) 0;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &_header {
    text-align: center;
    margin-bottom: rem(40px);
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    align-items: center;

    .testimonials_title {
      font-size: rem(100px);
      color: var(--neutral-950);
      line-height: 0.7;
      letter-spacing: -0.05em;
    }

    .testimonials_desc {
      font-size: rem(20px);
      color: var(--neutral-950);
      line-height: 1.1;
    }
  }

  .bar {
    grid-area: 1/4/1/10;
    position: relative;
    height: rem(8px);

    &_thumb {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      height: 2px;
      background-color: var(--neutral-200);
    }

    &_track {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: rem(8px);
      border-radius: 999px;
      background-color: var(--neutral-950);
    }
  }
}

.testimonials_slider {
  margin-top: rem(40px);
  height: 100%;

  &_content {
    grid-area: 1/8/1/13;
    background-color: var(--neutral-50);
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.testimonials_thumbnail {
  grid-area: 1/1/1/8;

  .img_wrap {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.testimonials_slider_text {
  font-size: rem(36px);
  line-height: 1.2;
  font-weight: 200;
  color: var(--neutral-950);
}

.info_inner {
  display: flex;
  column-gap: rem(12px);
  align-items: center;
}

.line {
  background-color: var(--neutral-200);
  width: 100%;
  height: 1px;
  margin: rem(20px) 0px;
}

.info_name {
  font-size: rem(20px);
  letter-spacing: 0.02em;
  font-weight: 200;
  color: var(--neutral-950);
}

.info_avt {
  width: rem(52px);
  height: rem(52px);
  border-radius: 999px;
  background-color: var(--neutral-200);
}
