.testimonials {
  height: 400vh;
  position: relative;

  .testimonials_wrap {
    padding: rem(40px) 0;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &_header {
    text-align: center;
    margin-bottom: rem(40px);
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    align-items: center;

    .testimonials_title {
      font-size: rem(100px);
      color: var(--neutral-950);
      line-height: 1.2;
      letter-spacing: -0.05em;
    }

    .testimonials_desc {
      font-size: rem(20px);
      color: var(--neutral-950);
      line-height: 1.2;
    }
  }

  .bar {
    grid-area: 1/1/1/5;
    position: relative;
    height: rem(8px);

    @include minTablet {
      grid-area: 1/2/1/8;
    }

    @include pcSmall {
      grid-area: 1/4/1/10;
    }

    &_thumb {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      height: 2px;
      background-color: var(--neutral-200);
    }

    &_track {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: rem(8px);
      border-radius: 999px;
      background-color: var(--neutral-950);
    }
  }
}

.testimonials_slider {
  margin-top: rem(40px);
  height: 100%;

  &_content {
    grid-area: 1/1/1/5;
    z-index: 5;
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    background-color: rgba($color: var(--black), $alpha: 0.6);
    justify-content: flex-end;

    @include minTablet {
      grid-area: 1/6/1/9;
      background-color: var(--neutral-50);
      justify-content: space-between;
    }

    @include pcSmall {
      grid-area: 1/8/1/13;
    }
  }
}

.testimonials_thumbnail {
  z-index: 4;
  grid-area: 1/1/1/5;

  @include minTablet {
    grid-area: 1/1/1/6;
  }

  @include pcSmall {
    grid-area: 1/1/1/8;
  }

  height: 100%;
  position: relative;
  overflow: hidden;
}

.testimonials_thumbnail_list {
  width: 100%;
  height: 100%;
  position: relative;
}

.thumbnail_img {
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    height: 100%;
  }
}

.testimonials_slider_text {
  font-size: rem(36px);
  line-height: 1.2;
  font-weight: 200;
  color: var(--neutral-50);

  @include minTablet {
    color: var(--neutral-950);
  }
}

.info_inner {
  display: flex;
  column-gap: rem(12px);
  align-items: center;
}

.line {
  background-color: var(--neutral-200);
  width: 100%;
  height: 1px;
  margin: rem(20px) 0px;
}

.info_name {
  font-size: rem(20px);
  letter-spacing: 0.02em;
  font-weight: 200;
  color: var(--neutral-50);

  @include minTablet {
    color: var(--neutral-950);
  }
}

.info_avt {
  width: rem(52px);
  height: rem(52px);
  border-radius: 999px;
  background-color: var(--neutral-200);
}
