.mobileNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 100svh;
  background-color: var(--black);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

  &_list {
    height: 100%;
    padding: 15vw 8rem;

    &_item {
      display: block;
      padding: rem(16px) 0;
      font-size: 5vw;
      line-height: 1.2;
      opacity: 0;
      transform: translateY(40%);
      filter: blur(20px);
      color: var(--white);
      cursor: pointer;
    }

    &_btn {
      margin-top: rem(24px);
      width: 100% !important;
      justify-content: center;
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  &.eventTrue {
    pointer-events: all;
  }
}

@media screen and (max-width: 991px) {
  .mobileNav {
    display: block
  }
}

@media screen and (max-width: 479px) {
  .mobileNav_list {
    padding: 15vw 10rem;
  }
}