* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    line-height: inherit;
    vertical-align: baseline;
    outline: none;
    background: transparent;
    border: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 10px !important;

    // /* width */
    // ::-webkit-scrollbar {
    //   width: rem(4px);
    // }

    // /* Track */
    // ::-webkit-scrollbar-track {
    //   background: var(--body-bg);
    //   width: rem(4px);
    // }

    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //   background: var(--black);
    // }

    /* width */
    ::-webkit-scrollbar {
        width: rem(0px);
        height: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--black);
        width: rem(0px);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--black);
    }

    @include pcSmall {
        font-size: vw(10px) !important;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

[hidden] {
    visibility: hidden;
}

html,
body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    scroll-behavior: unset !important;
    overscroll-behavior-y: none !important;
}

video,
img {
    max-width: 100%;
}

img:is([loading='lazy']) {
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-weight: normal;
    font-size: rem(20px);
    line-height: 1.2;
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.4s var(--easeInOutQuart);
}

/* Hide scrollbar for Chrome, Safari and Opera */
// body::-webkit-scrollbar {
//   display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// body {
//   -ms-overflow-style: none;
//   /* IE and Edge */
//   scrollbar-width: none;
//   /* Firefox */
// }

.container {
    margin: 0 auto;
    max-width: 100% !important;
    padding-left: var(--x-gap) !important;
    padding-right: var(--x-gap) !important;
}

.grid {
    display: grid;
    grid-column-gap: var(--col-gap);
    grid-template-columns: repeat(4, 1fr);

    @include minTablet {
        grid-template-columns: repeat(8, 1fr);
    }

    @include pcSmall {
        grid-template-columns: repeat(12, 1fr);
    }
}

figure {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}