:root {
  --border-radius-fill: 9999rem;

  --x-gap: 6rem;
  --col-gap: 2rem;
  --cursor: 20px;

  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --black: #000000;
  --semi-black: #17131b;
  --white: #ffffff;
  --bg-cta: linear-gradient(135deg,
      rgba(172, 109, 253, 0.08) 0%,
      rgba(255, 158, 200, 0.08) 49%,
      rgba(255, 171, 73, 0.08) 100%);
  --neutral-50: #F6F6F6;
  --neutral-100: #E7E7E7;
  --neutral-200: #D1D1D1;
  --neutral-300: #B0B0B0;
  --neutral-400: #888888;
  --neutral-500: #6D6D6D;
  --neutral-600: #5D5D5D;
  --neutral-950: #252525;
}