.home__hero {
  position: relative;
  margin-top: rem(-80px);

  @media screen and (max-width: 991px) {
    margin-top: rem(-120px);
  }

  @media screen and (max-width: 479px) {
    margin-top: rem(-150px);
  }
}

.home__hero_wrap {
  display: block;
  width: 100%;
  position: relative;
}

.image__wrapper {
  top: 50%;
  left: 50%;
  width: 100dvw;
  height: 100dvh;
}

.image__wrapper_inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
}

/* Final image special handling */
#final-image {
  z-index: 10;
  height: 100%;
}

.home__hero_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.home__hero_main {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  row-gap: rem(30px);
  flex-direction: column;
  padding-top: rem(54px);
  padding-bottom: rem(36px);
}

.hero__heading_wrap {
  padding-top: rem(40px);

  @media screen and (max-width: 991px) {
    padding-top: rem(200px);
  }
  
  @media screen and (max-width: 767px) {
    padding-top: rem(600px);
  }
}

.home__hero_heading {
  font-family: var(--font-montserrat);
  font-size: rem(140px);
  color: var(--white);
  line-height: 1.2;
  text-align: center;
  grid-area: 1/2/1/12;

  @media screen and (max-width: 991px) {
    font-size: rem(100px);
  }
}

.home__hero_bottom {
  margin-bottom: rem(36px);
}

.home__hero_cta {
  grid-area: 1/5/1/9;
  margin-left: rem(-20px);
  margin-right: rem(-20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(16px);

  @media screen and (max-width: 991px) {
    grid-area: 1/4/1/10;
  }

  .hero__cta_txt {
    font-size: rem(23px);
    color: var(--white);
    line-height: normal;
    text-align: center;
  }

  .hero__cta_btn {
    color: var(--neutral-950);
    background-color: var(--white);
    padding: rem(16px) rem(24px);
    border-radius: rem(200px);
    min-width: rem(225px);
    text-align: center;
  }
}

.home__hero_preview {
  grid-area: 1/11/1/13;
  background-color: rgb(147, 147, 147);
  border-radius: rem(8px);
  min-height: rem(110px);
  padding: rem(6px) rem(6px) rem(8px) rem(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(8px);
  margin-left: rem(43px);

  .hero__preview_image {
    width: 100%;
    height: auto;
  }

  .hero__preview_txt {
    font-size: rem(12px);
    color: var(--white);
  }
}

.about__main {
  padding-top: rem(40px);

  &_subtitle {
    grid-area: 1/1/1/3;
    font-size: rem(20px);
    color: var(--neutral-400);
    line-height: normal;
  }

  &_content {
    grid-area: 1/5/1/13;
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
  }
}

.about__main_title {
  font-size: rem(100px);
  color: var(--neutral-950);
  line-height: normal;
  margin-top: -0.3em;
  margin-bottom: -0.3em;
  letter-spacing: -0.05em;
}

.about__main_txt {
  font-size: rem(23px);
  color: var(--neutral-300);
  line-height: normal;
}

.home__about_model {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.about__model_wrap {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}
