.productItem {
  width: 50%;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  cursor: pointer;

  &_image {
    img {
      aspect-ratio: 72 / 60;
      object-fit: contain;
    }
  }

  &_content {
    padding: rem(20px) rem(60px);
  }

  &_title {
    margin-bottom: rem(8px);
  }
}