.productItem {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
  }

  &_image {
    width: 100%;
    object-fit: cover;
    background-color: var(--neutral-100);
    margin-bottom: rem(10px);
  }
  &_content {
    margin-bottom: rem(10px);
  }
}
