.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(40px);
  height: rem(40px);
  border-radius: rem(999px);
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: difference;
  padding: rem(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-50);
  opacity: 0;

  &_text {
    opacity: 0;
  }
}
