.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(0px);
  height: rem(0px);
  border-radius: rem(999px);
  pointer-events: none;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  &_text {
    opacity: 0;
  }
}
